[Desktop Entry]
Type=Application
Name=QPassword
GenericName=QPassword
Comment=Visual representation of password storing
Exec=run-qpassword.sh
Icon=qpassword.png
Terminal=false
Categories=Development;
